---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/feed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Phx:
      - 'true'
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '997'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"ac504778c65b2455bb2bbae673738a83"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"feed":[{"id":"8c8gJ","timestamp":"2012-04-21T19:29:13Z","item":{"type":"Follow","ids":[4063766]},"description":"<a
        href=\"http://angel.co/robert-afshar\" class=\"feed_link\" data-id=\"29363\"
        data-type=\"User\">Robert Afshar</a> followed <a href=\"http://angel.co/userfox\"
        class=\"feed_link\" data-id=\"74990\" data-type=\"Startup\">UserFox</a>","text":null,"actor":{"type":"User","id":29363,"name":"Robert
        Afshar","image":"https://s3.amazonaws.com/photos.angel.co/users/29363-medium?1303861912","angellist_url":"http://angel.co/robert-afshar","tagline":"Founded
        3 internet companies. All successful. Last company LeadClick Media took no
        investment and sold for $200mm. Currently, running a Hedge Fund & Angel Fund."},"target":{"type":"Startup","id":74990,"name":"UserFox","image":"https://s3.amazonaws.com/photos.angel.co/startups/i/74990-cbc49d251c38727b4f4a46fa13f12f6d-thumb.png","angellist_url":"http://angel.co/userfox","tagline":"user
        retention as a service"},"extra":null,"promoted_by":[],"likes":0,"comments":0},{"id":"8c7PQ","timestamp":"2012-04-21T19:21:34Z","item":{"type":"Follow","ids":[4063746]},"description":"<a
        href=\"http://angel.co/dphutch\" class=\"feed_link\" data-id=\"220\" data-type=\"User\">Don
        Hutchison</a> followed <a href=\"http://angel.co/anyperk\" class=\"feed_link\"
        data-id=\"76533\" data-type=\"Startup\">AnyPerk</a>","text":null,"actor":{"type":"User","id":220,"name":"Don
        Hutchison","image":"https://s3.amazonaws.com/photos.angel.co/users/220-medium[...]
