---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/feed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '989'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"eb949d0fdfdbf08aa93b4b6cebb07a5c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"feed":[{"id":"8cASe","timestamp":"2012-04-22T00:05:48Z","item":{"type":"StatusUpdate","ids":[54892]},"description":"<a
        href=\"http://angel.co/bizelo\" class=\"feed_link\" data-id=\"76424\" data-type=\"Startup\">Bizelo</a>
        updated their status","text":"Just launched our new front page of the Bizelo
        site at http://www.bizelo.com/ - let us know what you think!","actor":{"type":"Startup","id":76424,"name":"Bizelo","image":"https://s3.amazonaws.com/photos.angel.co/startups/i/76424-41488903f1edaecfbdbb83e6efda6706-thumb.png","angellist_url":"http://angel.co/bizelo","tagline":"Simplifying
        Small Business Apps"},"target":null,"extra":null,"promoted_by":[],"likes":0,"comments":0},{"id":"8cAPU","timestamp":"2012-04-22T00:01:44Z","item":{"type":"Follow","ids":[4066138]},"description":"<a
        href=\"http://angel.co/pc0\" class=\"feed_link\" data-id=\"2531\" data-type=\"User\">Pete
        Cooper</a> followed <a href=\"http://angel.co/pindex\" class=\"feed_link\"
        data-id=\"84242\" data-type=\"Startup\">Pindex</a>","text":null,"actor":{"type":"User","id":2531,"name":"Pete
        Cooper","image":"https://s3.amazonaws.com/photos.angel.co/users/2531-medium?129480[...]
- request:
    method: get
    uri: https://api.angel.co/1/feed/8fCC3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '995'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"f1be28c6b52242fc4dcd03f45cff4a5a"'
    b[...]
