---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/feed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8044e814fb9de50c9d67053ff14c4f55"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '997'
    body:
      encoding: UTF-8
      string: '{"feed":[{"id":"2heCKP","timestamp":"2015-04-26T10:22:06Z","item":{"type":"Follow","ids":[41629681,41628055,41624200,41624151,41623872,41623871,41623378,41623359,41623342,41619836,41619834,41619816,41619353,41618947]},"description":"<a
        href=\"https://angel.co/mayankagrawal\" class=\"feed_link\" data-id=\"734459\"
        data-type=\"User\">Mayank Agrawal</a> followed <a href=\"https://angel.co/boingo-wireless\"
        class=\"feed_link\" data-id=\"33078\" data-type=\"Startup\">Boingo Wireless</a>,
        <a href=\"https://angel.co/zesty-1\" class=\"feed_link\" data-id=\"126085\"
        data-type=\"Startup\">Zesty</a>, <a href=\"https://angel.co/twinword\" class=\"feed_link\"
        data-id=\"671606\" data-type=\"Startup\">Twinword</a> and 11 other companies","text":null,"actor":{"type":"User","id":734459,"name":"Mayank
        Agrawal","image":"https://d1qb2nb5cznatu.cloudfront.net/users/734459-medium_jpg?1409403051","angellist_url":"https://angel.co/mayankagrawal","system_user?":false,"tagline":"An
        Enterpreneur with interest in Investing, Business management and startup building"},"target":null,"extra":null,"promoted_by":[],"likes":0,"comments":0},{"id":"2heLmb","timestamp":"2015-04-26T10:12:35Z","item":{"type":"Answer","ids":[1534]},"description":"<a
        href=\"https://angel.co/dmitrii-beliakov\" class=\"feed_link\" data-id=\"745235\"
        data-type=\"User\">Dmitrii Beliakov</a> answered the following question about
        <a href=\"https://angel.co/suitestory-inc\" class=\"feed_link\" data-id=\"641030\"
        data-type=\"Startup\">SuiteStory Inc.</a>","text":"Dear Matt,\n\nSorry for
        the delay, for some reason angel.[...]
