---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/follows/batch?ids=4067161,4067147
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"379dd55bd8e34cf2bfa66ff1d9f35b5c"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '975'
    body:
      encoding: UTF-8
      string: '[{"id":4067147,"created_at":"2012-04-22T03:32:01Z","follower":{"type":"User","name":"Danielle
        Morrill","id":22676,"bio":"CEO and Cofounder of @mattermark","follower_count":7255,"angellist_url":"https://angel.co/danielle-morrill","image":"https://d1qb2nb5cznatu.cloudfront.net/users/22676-medium_jpg?1405452515"},"followed":{"type":"Startup","id":83587,"hidden":false,"community_profile":false,"name":"Silicon
        Prairie News","angellist_url":"https://angel.co/silicon-prairie-news","logo_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/83587-20af039b3663100c71fc9c2668cdb646-medium_jpg.jpg?buster=1341947437","thumb_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/83587-20af039b3663100c71fc9c2668cdb646-thumb_jpg.jpg?buster=1341947437","quality":5,"product_desc":"Silicon
        Prairie News is a Midwest based digital media company dedicated to highlighting
        and supporting entrepreneurs, creatives and investors through an emerging
        model for grassroots entrepreneurial ecosystem development within the greater
        Midwest region. \n\nIn addition to blogging about members of the region''s
        creative class, SPN helps organize events to connect the community such as
        the annual Big Omaha and Big Kansas City conferences which focuses on startup
        culture, entrepreneurship and and brings together thousands of entrepreneurs
        from over 30 states and a handful of countries at their events each year.
        \n\nThe fundamental mission of SPN is to build connectivity across all of
        the key influencers within an entrepreneurial ecosystem and attract interest
        from national influencers. The model is to accomplish this breaks down into
        four key areas: news/content, events, university partnerships and corporate
        engagement.","high_concept":"A digital media & events company focusing on
        entrepreneurship within the Midwest.","follower_count":63,"company_url":"http://www.siliconprairienews.com","created_at":"2012-04-16T21:16:31Z","updated_at":"2014-02-21T03:47:54Z"}},{"id":4067161,"created_at":"2012-04-22T03:36:19Z","follower":{"type":"User","name":"Danielle
        Morrill","id":22676,"bio":"CEO and Cofounder of @mattermark","follower_count":7255,"angellist_url":"https://angel.co/danielle-morrill","image":"https://d1qb2nb5cznatu.cloudfront.net/users/22676-medium_jpg?1405452515"},"followed":{"type":"Startup","id":31627,"hidden":false,"community_profile":false,"name":"NewCo","angellist_url":"https://angel.co/newco","logo_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/31627-95137a5f1c915f8a5ddf456233af2a9b-medium_jpg.jpg?buster=1326175160","thumb_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/31627-95137a5f1c915f8a5ddf456233af2a9b-thumb_jpg.jpg?buster=1326175160","quality":8,"product_desc":"Still
        in stealth.  It''s in the financial services space.","high_concept":"Addressing
        the $15 trillion Business Market","follower_count":647,"company_url":"http://Coming
        Soon","created_at":"2012-01-10T05:56:50Z","updated_at":"2012-01-12T02:43:26Z"}}]'
  recorded_at: Sun, 26 Apr 2015 11:28:37 GMT
- request:
    method: get
    uri: https://api.angel.co/1/users/65956/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"32124bae61fb2032686a797e11a99f05"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '974'
    body:
      encoding: UTF-8
      string: '{"users":[{"name":"Greg Storey","id":1120944,"bio":null,"follower_count":8,"angellist_url":"https://angel.co/greg-storey","image":"https://d1qb2nb5cznatu.cloudfront.net/users/1120944-medium_jpg?1427892142"},{"name":"Steven
        Holdsworth","id":1117860,"bio":"Code Aesthete","follower_count":1,"angellist_url":"https://angel.co/steven-holdsworth","image":"https://d1qb2nb5cznatu.cloudfront.net/users/1117860-medium_jpg?1428442186"},{"name":"Dmitriy
        Kiryukhin","id":774429,"bio":"Creative and curiou[...]
- request:
    method: get
    uri: https://api.angel.co/1/users/65956/followers/ids
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5f09c5e3899d28302d8c57be7b273bbb"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '973'
    body:
      encoding: UTF-8
      string: '{"ids":[1120944,1117860,774429,1048623,3967,741231,966029,862860,941529,926036,623173,78009,567559,908401,570859,759648,862159,216882,138938,419173,90654,413478,820928,814432,117298,264248,647931,757994,355938,730230,429834,712836,690966,614015,81626,280454,629831,489434,77031,575158,159206,402059,539258,62605,671,441065,406853,433879,464479,472502,435234,455586,126221,5378,125179,410395,409696,143926,104071,44337,97780,4924,391917,39359,388218,160051,379321,378861,248225,121661,263819,97507,135774,109492,330260,329887,32647,326532,316229,314229,106175,73713,307056,7047,182471,282806,292255,289301,277226,4193,1912,144,36348,31629,75451,243443,228273,169713,225621,223718,179265,123316,201145,194456,176622,135517,134118,169920,158955,143101,137040,133584,132564,118227,119459,30223,110709,107271,107204,101029,100303,37218,42476,41588,68026,73372,43184,1595,65928,63694,61729,61486,66756,1274,65958],"total":135,"per_page":1000,"page":1,"last_page":1}'
  recorded_at: Sun, 26 Apr 2015 11:28:40 GMT
- request:
    method: get
    uri: https://api.angel.co/1/users/65956/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0ba7903ee3a68a41769fd00cb09aeb0b"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '972'
    body:
      encoding: UTF-8
      string: '{"users[...]
- request:
    method: get
    uri: https://api.angel.co/1/users/65956/following?type=startup
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"308610c9cdc3e632261207217f65ed50"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '971'
    body:
      encoding: UTF-8
      string: '{"startups":[{"id":257583,"hidden":false,"community_profile":false,"name":"Page365","angellist_url":"https://angel.co/page365","logo_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/257583-6a5bdc6190911e1bb4a5d573b0dd8a25-medium_jpg.jpg?buster=1377693937","thumb_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/257583-6a5bdc6190911e1bb4a5d573b0dd8a25-thumb_jpg.jpg?buster=1377693937","quality":4,"product_desc":"Page365
        is the world''s first and leading sales engine built on the ground up f[...]
- request:
    method: get
    uri: https://api.angel.co/1/users/65956/following/ids
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a56cbaab19d7a94913168dc527e476d3"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '970'
    body:
      encoding: UTF-8
      string: '{"i[...]
- request:
    method: get
    uri: https://api.angel.co/1/users/65956/following/ids?type=startup
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"78e86f2c0a632a335d835c191bf9f396"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '969'
    body:
      encoding: UTF-8
      string: '{"ids":[257583,612655,261436,391526,93300,227258,68135,396517,277985,369984,151986,436064,24459,125280,278740,187265,27743,202373,51145,131904,279078,264365,1521,127317,13274,219772,139192,345059,273691,321086,34113,652,10206,219801,229052,30833,196617,26118,127715,159454,98256,91716,82745,117927,83136,165098,162647,2506,28804,57926,132068,134272,18863,128551,39310,19579,56197,14940,38044,125407,115147,150765,105875,113838,76047,19359,21301,112872,26239,37797,20898,64902,80503,80314,78959,76155,76561,68044,63885,63884,28106,23877,27216,26750,27739,19155,18978,28477,2489,3410,1410,6868,22347,1124,19168,25513,25810],"total":97,"per_page":1000,"page":1,"last_page":1}'
  recorded_at: Sun, 26 Apr 2015 11:28:45 GMT
- request:
    method: get
    uri: https://api.angel.co/1/startups/1124/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"955e794ac37252f5cd9ceb8d9f8cae52"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '968'
    body:
      encoding: UTF-8
      string: '{"use[...]
- request:
    method: get
    uri: https://api.angel.co/1/startups/1124/followers/ids
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8217a22ed1767fd42bd1f7009fccfb8f"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '967'
    body:
      encoding: UTF-8
      string: '{[...]
