---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/users/2850/followers?format=json&phoenix=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '997'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"372f6e20aad6c32a8293845c16f58802"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"users":[{"name":"Rajesh Redij-Gill","id":7530,"bio":"Digital marketing
        professional focussed on biddable media","follower_count":1,"angellist_url":"http://angel.co/rajesh-redij-gill","image":"https://s3.amazonaws.com/photos.angel.co/users/7530-medium?1335019650"},{"name":"Christien
        Louviere","id":119835,"bio":"Director of Business Development at Vitrue, Inc.","follower_count":0,"angellist_url":"http://angel.co/clouvi","image":"https://s3.amazonaws.com/photos.angel.co/users/119835-medium?1335010661"},{"name":"Michelle
        Sun","id":99434,"bio":"","follower_count":4,"angellist_url":"http://angel.co/michellesun","image":"https://s3.amazonaws.com/photos.angel.co/users/99434-[...]
- request:
    method: get
    uri: https://api.angel.co/1/users/2850/followers/ids?format=json&phoenix=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '993'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"1c6bbfb7095c5a9d7b7fb6413df45ea8"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"ids":[7530,119835,99434,90802,119745,119713,112701,77024,14627,67105,113666,99943,30620,113037,119325,119338,67732,118616,87195,87204,119197,119059,118813,50854,118592,33191,93161,73045,110705,112844,112849,112829,117369,39736,108083,103790,1916,71121,115727,110649,91606,74690,77932,66587,36472,11552,11177,80572,6371,117406,15038,114379,117343,115026,115147,116600,84603,109301,110775,112650,46697,116899,114878,88958,105303,116648,116701,51933,116626,54839,81880,69656,20627,116363,76484,115365,48203,1[...]
- request:
    method: get
    uri: https://api.angel.co/1/startups/1124/followers?format=json&phoenix=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '987'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"46[...]
- request:
    method: get
    uri: https://api.angel.co/1/startups/1124/followers/ids?format=json&phoenix=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '986'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! [...]
- request:
    method: get
    uri: https://api.angel.co/1/users/2850/followers?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '973'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"3425c7b89bede8084f[...]
- request:
    method: get
    uri: https://api.angel.co/1/users/2850/followers/ids?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '972'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"1c6bbfb7095c5a[...]
- request:
    method: get
    uri: https://api.angel.co/1/users/2850/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '971'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"ce75bb520e67bc5e3540f09db612ae[...]
- request:
    method: get
    uri: https://api.angel.co/1/users/2850/following?type=startup
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '970'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"262d9d0c4f7113472cb95690e5a8aa1b"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"startups":[{"id":69820,"hidden":false,"community_profile":false,"name":"BetterDoctor","angellist_url":"http://angel.co/betterdoctor","logo_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/69820-b35d59461eac1bda66ac4bdd51afce5c-medium.png","thumb_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/69820-b35d59461eac1bda66ac4bdd51afce5c-thumb.png","product_desc":"Every
        year over 70M people are struggling to find and book a new doctor. \n\nBetterDoctor
        solves this problem by offering the best web and mobile apps that help you
        find and book a good quality doctor in minutes instead of hours.\n\nFind and
        Book a Better Doctor Near You!\nTry the Bay Area beta at http://BetterDoctor.com","high_concept":"OpenTable
        for Doctors - Find and Book a Better Doctor Near You","follower_count":82,"company_url":"http://BetterDoctor.com"},{"id":26179,"hidden":false,"community_profile":false,"name":"Happy
        Inspector","angellist_url":"http://angel.co/happy-inspector","logo_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/26179-5bbb6f18c318c61742e2aebf4260d1d9-medium.png","thumb_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/26179-5bbb6f18c318c61742e2aebf4260d1d9-thumb.png","product_desc":"Happy
        Inspector is an iPad app for property managers that save up to 75% of time
  [...]
- request:
    method: get
    uri: https://api.angel.co/1/users/2850/following/ids
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '969'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"3fda4af33544ab64e2acbde3bc[...]
- request:
    method: get
    uri: https://api.angel.co/1/users/2850/following/ids?type=startup
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '968'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"5a3c62165e060[...]
- request:
    method: get
    uri: https://api.angel.co/1/startups/1124/followers?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '967'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"00f15b510b31f93[...]
- request:
    method: get
    uri: https://api.angel.co/1/startups/1124/followers/ids?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '966'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"a26ab00700b[...]
