---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/jobs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6a1bbbf23f5095c575f3f5ce2671cb9a"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1998'
    body:
      encoding: UTF-8
      string: '{"jobs":[{"id":63370,"title":"Lifestyle Blogger/online marketer","description":"","created_at":"2015-04-26T11:07:12Z","updated_at":"2015-04-26T11:07:12Z","equity_cliff":"1.0","equity_min":"2.0","equity_max":"10.0","equity_vest":"4.0","currency_code":"USD","job_type":"full-time","salary_min":10000,"salary_max":15000,"angellist_url":"https://angel.co/my-lekki/jobs/63370-lifestyle-blogger-online-marketer","tags":[{"id":16037,"tag_type":"SkillTag","name":"crm","display_name":"CRM","angellist_url":"https://angel.co/crm-1"},{"id":27580,"tag_type":"SkillTag","name":"digital
        marketing","display_name":"Digital Marketing","angellist_url":"https://angel.co/digital-marketing"},{"id":2303,"tag_type":"LocationTag","name":"lagos","display_name":"Lagos","angellist_url":"https://angel.co/lagos"},{"id":80489,"tag_type":"RoleTag","name":"marketing","display_name":"Marketing","angellist_url":"https://angel.co/marketing-2"}],"remote_ok":true,"startup":{"id":680734,"hidden":false,"community_profile":false,"name":"My
        Lekki","angellist_url":"https://angel.co/my-lekki","logo_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/680734-df9acca05735063edc181f3ed37109ed-medium_jpg.jpg?buster=1430045756","thumb_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/680734-df9acca05735063edc181f3ed37109ed-thumb_jpg.jpg?buster=1430045756","quality":0,"product_desc":"My
        Lekki is Nigeria''s first truly local community website bringing business
        and residents of the upscale Lekki community together unto one one community
        to help them shop, do business,explore their  interact and have fun all at
        the same time.","high_concept":"Community, Lifestyle, Yellow Pages, Nigeria''s
        first and truly local SEO website","follower_count":1,"company_url":"http://www.mylekki.com","created_at":"2015-04-26T10:56:00Z","updated_at":"2015-04-26T11:10:19Z"}},{"id":63369,"title":"CO
        CEO and other executive positions available.","description":"A chance to part
        own and operate a upcoming Social Network App.","created_at":"2015-04-26T10:45:20Z","updated_at":"2015-04-26T11:19:29Z","equity_cliff":"1.0","equity_min":"2.5","equity_max":"5.0","equity_vest":"4.0","currency_code":"USD","job_type":"full-time","salary_min":20000,"salary_max":80000,"[...]
- request:
    method: get
    uri: https://api.angel.co/1/jobs/2450
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1997'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"type":"not_found","message":"The specified
        item could not be found."}}'
  recorded_at: Sun, 26 Apr 2015 11:29:32 GMT
- request:
    method: get
    uri: https://api.angel.co/1/startups/1124/jobs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"10999361374c865a6cc049f045167c91"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1996'
    body:
      encoding: UTF-8
      string: '[{"id":58889,"title":"Content Producer","description":"In this role,
        you\u2019ll be a force in developing content & recruiting speakers for our
        conferences, leading research & composing agendas for our \u201cGeeks on a
        Plane\u201d tours, and crafting the high-profile packaging & marketing of
        these initiatives to our 600,000+ subscribers worldwide. It\u2019s a highly
        detail-driven role, and requires someone who is a flexible perfectionist,
        gets the startup scene, knows how to market to them, & can write amazing copy.\n\nWE
        ARE: Looking for an experienced, hard-working, self-motivated, tech-loving
        \u201cjournalist\u201d type who can fearlessly jump into unknown situations
        and emerge with an informed & balanced narrative, straddle serious backend
        content with 500\u2019s signature front-end \u201cunruly badass\u201d tone,
        and handle multiple deadlines, timelines, operational variables, and priorities
        without freaking out.\n\nIN THIS ROLE, YOU WOULD:\n\u2022 Mastermind & Manage
    [...]
- request:
    method: get
    uri: https://api.angel.co/1/tags/1692/jobs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e149a35495454bfff9eead2de5479f6f"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      [...]
[...]
