---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/jobs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '997'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"dd48b8e1b82b3788c73d456546302bf7"'
    body:
      encoding: ASCII-8BIT
      string: ! '[{"id":2450,"title":"Software Engineer","description":"Software Engineer\r\n\r\nWe
        are looking for awesome people to join our engineering team to make products
        that do real work for our users.\r\n\r\nSome problems that we\u2019re tackling
        at Kloudless:\r\n\r\nReal-time, cross-platform collaboration\r\nThere are
        so many collaborative platforms, and everyone has their own favorite. We\u2019re
        solving collaborative content generation with real-time syncing and sharing.\r\n\r\nDocument
        recommendations\r\nWe want the user to think as little as possible. That requires
        us to be as intelligent as possible. Whether you\u2019re trying to rediscover
        old documents or you\u2019re in process of creating new ones, \r\n\r\nHandling
        LOTS of data\r\nNot only do we need speedy indexers to make information immediately
        available to our users, we collect a ton of usage data in order to make recommendations
        and improve user experience.\r\n\r\n\r\nMust-haves\r\nNo specific requirements.
        You must be an exceptional problem solver with an understanding of current
        web technology and have a passion for writing great code and building impactful
        products. \r\n\r\nBonus Points\r\nExperience with a scripting language and
        be able to pick up similar languages quickly (we use Python)\r\n","job_type":"fulltime","created_at":"2012-04-16T09:01:07Z","updated_at":"2012-04-23T01:20:40Z","equity_cliff":1.0,"equity_min":0.5,"equity_max":2.0,"equity_vest":4.0,"salary_min":80000,"salary_max":100000,"angellist_url":"http://angel.co/kloudless/recruiting/2450-software-engineer","startup":{"id":24248,"hidden":false,"community_profile":false,"name":"Kloudless","angellist_url":"http://angel.co/kloudless","logo_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/24248-82142422e4fbce9a7375264c82489982-medium.png","thumb_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/24248-82142422e4fbce9a7375264c82489982-thumb.png","product_desc":"Kloudless
        is a free service that offloads files from your inbox to your favorite storage
        system (Dropbox, Box, local). We enable better management, search, and collaboration
        for your email attachments.\n\nKloudless was founded by a team of four UC
        Berkeley graduates in August 2011. Kloudless has received many accolades both
        in the U.S. and internationally. We are part of the inaugural class at the
        new Skydeck Incubator, which is backed by UC Berkeley and the Lawrence Berkeley
        National Laboratory.","high_concept":"Making your inbox better and your attachments
        smarter","follower_count":143,"company_url":"http://kloudless.com/"},"tags":[{"id":14766,"tag_type":"SkillTag","name":"software
        engineering","display_name":"Software Engineering","angellist_url":"http://angel.co/software-engineering"},{"id":15670,"tag_type":"SkillTag","name":"software
        development","display_name":"Software Development","angellist_url":"http://angel.co/software-development"},{"id":1643,"tag_type":"LocationTag","name":"earth","display_name":"Earth","angellist_url":"http://angel.co/earth"},{"id":1681,"tag_type":"LocationTag","name":"silicon
        valley","display_name":"Silicon Valley","angellist_url":"http://angel.co/silicon[...]
- request:
    method: get
    uri: https://api.angel.co/1/jobs/2450
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '996'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"6a86fd82a0ec57c8044457e4c227bdf3"'
    bo[...]
- request:
    method: get
    uri: https://api.angel.co/1/startups/1124/jobs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '995'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"78a8517b914dac0e001db7397c55878a[...]
- request:
    method: get
    uri: https://api.angel.co/1/tags/1692/jobs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '994'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"0e1dfe70d0109e03e9b6783491a3c043"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"jobs":[{"id":649,"title":"Galactic Core","description":"We''re
        PubNub, the real-time engine in the cloud that developers use to build massively
        scalable real-time apps.  We''ve got hundreds of customers, and process billions
        of real-time messages each month.  We develop software close to the bare iron
        and measure performance in nanoseconds.  We are looking for an exceptional
        developer to help lead our \"core\" engine development and future technology
        str[...]
