---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/press?startup_id=6702
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"623f7884677553a773cc2de4b19f0280"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1989'
    body:
      encoding: UTF-8
      string: '{"press":[{"created_at":"2014-06-19T21:00:36Z","id":125462,"owner_id":6702,"owner_type":"Startup","posted_at":"2014-02-13","snippet":"Since
        being founded in 2010, 500 Startups has been pushing the limits of what you
        might expect from a seed-stage investment fund. In just a few short years,
        it has invested in more than 600 startups (!!!), launched its own accelerator
        program,...","title":"500 Startups Launches Its First Two AngelList Syndicates,
        Including One Just For Female Founders  |  TechCrunch","updated_at":"2014-06-19T21:00:36Z","url":"http://techcrunch.com/2014/02/13/500-startups-syndicates/"},{"created_at":"2014-06-19T21:00:39Z","id":125463,"owner_id":6702,"owner_type":"Startup","posted_at":"2014-01-23","snippet":"When
        AngelList \u2014 the network for young startups to find funding and employees
        -\u00a0announced a $24 million round of funding\u00a0last year,\u00a0it noted
        that it had already helped 3,000 people find jobs through free listings. Now,
        it''s experimenting with ways...","title":"A[...]
