---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/reviews?user_id=155
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6213050ca1d8d919df0dc49c2b7cddee"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1985'
    body:
      encoding: UTF-8
      string: '{"reviews":[{"id":22933,"created_at":"2014-08-08T19:11:33Z","note":"naval
        is the matrix.","relationship_to_reviewer":"unknown","reviewer":{"name":"Jared
        Kopf","id":46690,"bio":"Founder @adroll, @homerun \u2022 Worked at @paypal,
        @clarium, @ideo  ","follower_count":3725,"angellist_url":"https://angel.co/jhk","image":"https://d1qb2nb5cznatu.cloudfront.net/users/46690-medium_jpg?1405470142"}},{"id":20705,"created_at":"2014-07-27T22:55:16Z","note":"15
        minutes with Naval teaches you more about startup finance than you''ll learn
        in a week with anyone else.","relationship_to_reviewer":"unknown","reviewer":{"name":"Jonathan
        Nelson","id":8797,"bio":"Hacking Silicon Valley.  Founder @hackers_and_founders
        & @h-f-next-fund ","follower_count":6039,"angellist_url":"https://angel.co/jonathan-nelson-1","image":"https://d1qb2nb5cznatu.cloudfront.net/users/8797-medium_jpg?1405441442"}},{"id":9421,"created_at":"2013-05-03T21:33:13Z","note":"Sharpest
        and most connect investor around. Naval is super nice and helpful, especially
        when it comes to marketplace businesses. Listen to what he has to say, because
        everything he says is gold.","relationship_to_reviewer":{"as":"founder","relationship":"investor"},"reviewer":null},{"id":8978,"created_at":"2013-03-26T19:32:34Z","note":"Somebody
        always there for a founder - whatever the issue is, he''ll provide a meaningful
        suggestion.","relationship_to_reviewer":{"as":"founder","relationship":"investor"},"reviewer":null},{"id":4848,"created_at":"2012-07-18T01:39:04Z","note":"Naval
        has great feeling for things. He is sharp thinker, honest with himself and
        others. He is fanatical about determination and values only[...]
- request:
    method: get
    uri: https://api.angel.co/1/reviews/1098
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e20455523f50a69a0f39c3b3fa7caf35"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1984'
    body:
      encoding: UTF-8
      string: '{"id":1098,"created_at":"2011-08-12T02:49:30Z","note":"Naval is hard
        working, honest and he really cares. Every founder I''ve sent to him has had
        a great experience! ","relationship_to_reviewer":{"as":"investor","relationship":"investor"},"reviewer":null}'
  recorded_at: Sun, 26 Apr 2015 11:48:51 GMT
recorded_with: VCR 2.9.3
