---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/reviews?user_id=2850
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '980'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"53c6326f9c809fef0b1f41a9db32a5c2"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"reviews":[{"id":123,"rating":1,"created_at":"2011-06-26T22:04:46Z","note":"There''s
        simply no organization or angel in the world that is this supportive and active
        for startups.  I''m so thrilled to be part of their network.","relationship_to_reviewer":{"as":"founder","relationship":"investor"}},{"id":322,"rating":1,"created_at":"2011-07-19T19:16:34Z","note":"","relationship_to_reviewer":"unknown"},{"id":432,"rating":1,"created_at":"2011-07-25T22:26:21Z","note":"","relationship_to_reviewer":"unknown"},{"id":528,"rating":1,"created_at":"2011-07-25T22:49:12Z","note":"","relationship_to_reviewer":"unknown"},{"id":639,"rating":1,"created_at":"2011-07-26T01:11:12Z","note":"Dave
        really cares about startups as illustrated by the many 10pm Friday night calls
        I''ve h[...]
