---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/search?query=machine%2Blearning
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ed9e7a33334b4dc9e3bf3885a151e8c6"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1998'
    body:
      encoding: UTF-8
      string: '[{"id":15609,"pic":null,"url":"https://angel.co/machine-learning-1","name":"Machine
        Learning","type":"SkillTag"},{"id":333491,"pic":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/333491-47abb2e5bada3692d3e3f55f0e9c49a1-thumb_jpg.jpg?buster=1391110210","url":"https://angel.co/learning-machine-2","name":"Learning
        Machine","type":"Startup"},{"id":200344,"pic":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/200344-8974371d46d175545585fbd89fb41d95-thumb_jpg.jpg?buster=1367010135","url":"https://angel.co/learning-machine","name":"Learning
        Machine","type":"Startup"},{"id":249750,"[...]
- request:
    method: get
    uri: https://api.angel.co/1/search?query=joshua&type=User
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"78fdd55ac6a7e4ecb3393ed82e72f7dd"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Re[...]
