---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/search?query=machine%2Blearning
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '996'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"4f62b2c8498567d7b80ef7f86055882f"'
    body:
      encoding: ASCII-8BIT
      string: ! '[{"id":92,"pic":"/images/icons/market.png","url":"http://angel.co/machine-learning","name":"Machine
        Learning","type":"MarketTag"},{"id":420,"pic":"https://s3.amazonaws.com/photos.angel.co/users/420-medium?1308183745","url":"http://angel.co/hammer","name":"Jeff
        Hammerbacher","type":"User"},{"id":97,"pic":"https://s3.amazonaws.com/photos.angel.co/users/97-medium?1294803512","url":"http://angel.co/rbpasker","name":"Bob
        Pasker","type":"User"},{"id":9861,"pic":"https://s3.amazonaws.com/photos.angel.co/users/9861-medium?1307870800","url":"http://angel.co/jason-a-hoffman","name":"Jason
        A. Hoffman","type":"User"},{"id":309,"pic":"https://s3.amazonaws.com/photos.angel.co/users/309-medium?1294803622","url":"http://angel.co/eghosao","name":"Eghosa
        Omoigui","type":"User"},{"id":110263,"pic":"https://s3.amazonaws.com/photos.angel.co/users/110263-medium?1332809483","url":"http://angel.co/tomer-london","name":"Tomer
        London","type":"User"},{"id":556,"pic":"https://s3.amazonaws.com/photos.angel.co/users/556-medium?1297748606","url":"http://angel.co/tonsing","name":"Raymond
        Tonsing","type":"User"},{"id":93,"pic":"https://s3.amazonaws.com/photos.angel.co/users/93-medium?1294886960","url":"http://angel.co/simeons","name":"Simeon
        Simeonov","type":"User"}]'
  recorded_at: Mon, 23 Apr 2012 09:26:29 GMT
- request:
    method: get
    uri: https://api.angel.co/1/search?type=User&query=Joshua%2BSlayton
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '995'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"94d6f098b041bdc36443c74abd71264b"'
    body:
      encoding: ASCII-8BIT
      string: ! '[{"id":671,"pic":"https://s3.amazonaws.com/photos.angel.co/users/671-medium?1321649923","url":"http://angel.co/joshuaxls","name":"Joshua
        Slayton","type":"User"}]'
  recorded_at: Mon, 23 Apr 2012 09:26:30 GMT
- request:
    method: get
    uri: https://api.angel.co/1/search?type=User&query=joshua
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '994'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"3f68a42fc1f2f9c1201c2[...]
