---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/startup_roles?startup_id=1124
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6a5905aa47ff4322b90576f9b245c825"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1980'
    body:
      encoding: UTF-8
      string: '{"startup_roles":[{"id":2436972,"role":"employee","created_at":"2015-04-16T16:45:02Z","started_at":null,"ended_at":null,"title":null,"confirmed":true,"user":{"name":"Richard
        Speakman","id":421709,"bio":"Experienced Office / Facilities / IT / HR / Accounting
        Manager. Strong leader of on-site and remote teams.","follower_count":26,"angellist_url":"https://angel.co/richard-speakman-1","image":"https://angel.co/images/shared/nopic.png"}},{"id":2416725,"role":"mentor","created_at":"2015-04-12T11:12:26Z","started_at":null,"ended_at":null,"title":null,"confirmed":true,"user":{"name":"Wil
        Schroter","id":3962,"bio":"Founder/CEO, Startups.co, world''s largest startup
        platform @fundable-com , @clarity , @launchrock & @killerstartups .  Founder  @blue-diesel
        , @unsubscribe-com","follower_count":987,"angellist_url":"https://angel.co/wilschroter","image":"https://d1qb2nb[...]
- request:
    method: get
    uri: https://api.angel.co/1/startup_roles?user_id=155
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ace71b9cf9cb4031f79797c8b84c7167"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1979'
    body:
      encoding: UTF-8
      string: '{"startup_roles":[{"id":2277872,"role":"past_investor","created_at":"2015-03-10T16:38:20Z","started_at":null,"ended_at":null,"title":null,"confirmed":true,"tagged":{"type":"User","name":"Naval
        Ravikant","id":155,"bio":"Sweat: @angellist , @venture-hacks @vast @epinions
        ;  Money: @twitter @heyzap @uber ","follower_count":39528,"angellist_url":"https://angel.co/naval","image":"https://d1qb2nb5cznatu.cloudfront.net/users/155-medium_jpg?1405433037"},"startup":{"id":457068,"hidden":false,"community_profile":false,"name":"21","angellist_url":"https://angel.co/21","logo_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/457068-2e7b8c417c3a70aab3026f5f0ca3d8e9-medium_jpg.jpg?buster=1425975133","thumb_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/457068-2e7b8c417c3a70aab3026f5f0ca3d8e9-thumb_jpg.jpg?buster=1425975133","quality":10,"product_desc":"We''re
        building the hardware and software infrastructure to bring Bitcoin to the
        world. We can''t yet talk about what we do, but it''s full-stack.  Not full-stack
        as in \"JavaScript front-end, Python middle-tier, Mongo back-end\".  Full-stack.  Picture
        custom hardware & software at massive scale, and then double that.","high_concept":"Building
        the future of money","follower_count":127,"company_url":"http://21.co","created_at":"2014-08-08T17:54:42Z","updated_at":"2015-03-10T16:28:33Z"}},{"id":2167210,"role":"past_investor","created_at":"2015-02-12T17:51:22Z","started_at":null,"ended_at":null,"title":null,"confirmed":true,"tagged":{"type":"User","name":"Naval
        Ravikant","id":155,"bio":"Sweat: @angellist , @venture-hacks @vast @epinions
        ;  Money: @twitter @heyzap @uber ","follower_count":39528,"angellist_url":"https://angel.co/naval","image":"https://d1qb2nb5cznatu.cloudfront.net/users/155-medium_jpg?1405433037"},"startup":{"id":202932,"hid[...]
- request:
    method: get
    uri: https://api.angel.co/1/startup_roles?direction=outgoing&startup_id=1124&v=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a125e028ab04b6334f6055ad3e9657f0"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '200[...]
- request:
    method: get
    uri: https://api.angel.co/1/startup_roles?startup_id=1124&v=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"364772fec991087212537d9e541605a6"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimi[...]
- request:
    method: get
    uri: https://api.angel.co/1/startup_roles?user_id=155&v=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ace71b9cf9cb4031f79797c8b84c7167"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Re[...]
