---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/startup_roles?startup_id=1124
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '979'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"1818d9e18e8fee39c4aba6f0d9f0e81a"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"startup_roles":[{"id":211810,"role":"advisor","created_at":"2012-04-19T13:22:08Z","started_at":null,"ended_at":null,"confirmed":true,"user":{"name":"Aaron
        Batalion","id":69186,"bio":"CTO & Co-founder, LivingSocial.  Husband, Father,
        Geek, Entrepreneur, Advisor.","follower_count":399,"angellist_url":"http://angel.co/aaronbatalion","image":"https://s3.amazonaws.com/photos.angel.co/users/69186-medium?1320063559"}},{"id":211676,"role":"advisor","created_at":"2012-04-19T05:47:10Z","started_at":null,"ended_at":null,"confirmed":true,"user":{"name":"Jessica
        Alter","id":61981,"bio":"Entrepreneur & Advisor","follower_count":68,"angellist_url":"http://angel.co/jalter","image":"https://s3.amazonaws.com/photos.angel.co/users/61981-medium?1334814757"}},{"id":206648,"role":"past_investor","created_at":"2012-04-12T05:11:06Z","started_at[...]
- request:
    method: get
    uri: https://api.angel.co/1/startup_roles?user_id=2850
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '978'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"56ec889550399eeec82b8d91ef5aec48"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"startup_roles":[{"id":209842,"role":"incubator","created_at":"2012-04-16T20:07:35Z","started_at":null,"ended_at":null,"confirmed":true,"startup":{"id":80314,"hidden":false,"community_profile":false,"name":"Bombfell","angellist_url":"http://angel.co/bombfell","logo_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/80314-6e8a59e9050370ccae85207c6fb3f3d5-medium.png","thumb_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/80314-6e8a59e9050370ccae85207c6fb3f3d5-thumb.png","product_desc":"Featured
        on Techcrunch, Match.com, Glamour, Financial Times and SheKnows.\n\nClothes
        shopping today is tuned to female buying habits - for browsing instead of
        seek-and-destroy efficient buying.\n\nBombfell is a monthly subscription for
        men''s clothing built to enable guys who lack time or don''t know what to
        buy to dress well. Members tell us their wardrobe needs and we send them a
        personalized selection every month.\n\nLaunched late 2011 and already ramen
        profitable.","high_concept":"Shoedazzle for men''s clothing","follower_count":74,"company_url":"http://www.bombfell.com/"}},{"id":205790,"role":"incubator","created_at":"2012-04-11T03:00:21Z","started_at":null,"ended_at":null,"confirmed":true,"startup":{"id":19563,"hidden":false,"community_profile":false,"name":"9GAG","angellist_url":"http://angel.co/9gag","logo_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/19563-3bb24ef47482a01ad8e319328f00ca82-medium.png","thumb_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/19563-3bb24ef47482a01ad8e319328f00ca82-thumb.png","produ[...]
- request:
    method: get
    uri: https://api.angel.co/1/startup_roles?startup_id=1124&v=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"ba6d6c66d644902168be457e1c25db0a"'
      status:
      - 200 OK
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '1000'
    body:
      encoding: ASCII-8BIT
      string: ! '{"startup_roles":[{"id":564810,"role":"past_investor","created_at":"2013-03-15T11:58:07Z","started_at":null,"ended_at":null,"confirmed":true,"tagged":{"type":"User","name":"Saurabh
        Goel","id":163211,"bio":"Founder startt \u2022 Investor @500-startups-fund-ii","follower_count":4,"angellist_url":"https://angel.co/saurgoel","image":"https://s3.amazonaws.com/photos.angel.co/users/163211-medium_jpg?1359116657"},"startup":{"id":1124,"hidden":false,"community_profile":false,"name":"500
        Startups (Fund II)","angellist_url":"https://angel.co/500-startups-fund-ii","logo_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/1124-9f04812061e2dcd37e24eeb20cf47e5c-medium_jpg.jpg?buster=1333564428","thumb_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/1124-9f04812061e2dcd37e24eeb20cf47e5c-thumb_jpg.jpg?buster=1333564428","quality":7,"product_desc":"500
        Startups is a Silicon Valley venture capital seed fund & startup accelerator.
        We invest in internet startups on search, social, & mobile platforms. We run
        an incubation and accelerator program emphasizing design & user experience,
        distribution & customer acquisition, and lean startup practices & metrics.
        Our investment team and mentor network has operational experience at companies
        including PayPal, Google, YouTube, Yahoo, AOL, Zynga, LinkedIn, Twitter, Apple
        & Facebook.","high_concept":"Silicon Valley seed fund & internet accelerator
        founded by PayPal, Google, YouTube alums.","follower_count":6304,"company_url":"http://500.co","created_at":"2010-11-16T01:50:25Z","updated_at":"2012-12-30T19:44:51Z"}},{"id":562745,"role":"employee","created_at":"2013-03-14T05:18:53Z","started_at":"2013-03-01","ended_at":null,"confirmed":true,"tagged":{"type":"User","name":"Matthew
        Berman","id":57540,"bio":"Distribution Hacker @500startups, Entrepreneur,
        User Acquisition Expert, Rails Hacker, Technology Enthusiast. Previously co-founder
        at @teamly Inc.","follower_count":66,"angellist_url":"https://angel.co/matthew-berman-1","image":"https://s3.amazonaws.com/phot[...]
- request:
    method: get
    uri: https://api.angel.co/1/startup_roles?user_id=2850&v=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"fbb634dc7d18ed037672a35c5232582d"'
      status:
      - 200 OK
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '999'
    body:
      encoding: ASCII-8BIT
 [...]
- request:
    method: get
    uri: https://api.angel.co/1/startup_roles?user_id=2850&direction=outgoing&v=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"7639abb8e27dd5b5b87d68050078e85b"'
      status:
      - 200 OK
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '1000'
    body:
      en[...]
- request:
    method: get
    uri: https://api.angel.co/1/startup_roles?startup_id=1124&direction=outgoing&v=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"0f90a230c0d63d88f7db0f0bc707c8df"'
      status:
      - 200 OK
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '999'
    body:
      [...]
- request:
    method: get
    uri: https://api.angel.co/1/startup_roles?startup_id=1124&direction=incoming&v=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"65f79593409c2134cbaa6f621046f6a8"'
      status:
      - 200 OK
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '998'
    body:
      [...]
