---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/startups/1124?format=json&phoenix=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '995'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"8d41937b2c23a6cbb4682080173a0f83"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":1124,"hidden":false,"community_profile":false,"name":"500 Startups
        (Fund)","angellist_url":"http://angel.co/500-startups-fund","logo_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/1124-9f04812061e2dcd37e24eeb20cf47e5c-medium.png","thumb_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/1124-9f04812061e2dcd37e24eeb20cf47e5c-thumb.png","product_desc":"500
        Startups is a Silicon Valley venture capital seed fund & startup accelerator.
        We invest in internet startups on search, social, & mobile platforms. We run
        an incubation and accelerator program emphasizing design & user experience,
        distribution & customer acquisition, and lean startup practices & metrics.
        Our investment team and mentor network has operational experience at companies
        including PayPal, Google, YouTube, Yahoo, AOL, Zynga, LinkedIn, Twitter, Apple
        & Facebook.","high_concept":"Silicon Valley micro-VC fund & accelerator founded
        by ex-PayPal, Google, YouTube alums.","follower_count":3254,"company_url":"http://500.co","twitter_url":"https://twitter.com/#!/500","blog_url":"http://500.co/blog/","video_url":"http://youtube.com/watch?v=oy--ub2jMHs","markets":[{"id":856,"tag_type":"MarketTag","name":"venture
        capital","display_name":"Venture Capital","angellist_url":"http://angel.co/venture-capital"}],"locations":[{"id":1701,"tag_type":"LocationTag","name":"mountain
        view","display_name":"Mountain View","angellist_url":"http://angel.co/mountain-view-1"}],"status":{"id":53746,"message":".@500
        Startups by the #''s (infographic): companies, exits, countries, team, process,
        languages, mentors, events, etc: http://bit.ly/500info","created_at":"2012-04-12T23:57:59Z"},"screenshots":[{"thumb":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/d1cfdd5a9783eb1d115884678f1c4982-thumb.jpg","original":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/d1cfdd5a9783eb1d115884678f1c4982-original.jpg"},{"thumb":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/d995be3ef8ea226b57c3e86da50f9dab-thumb.png","original":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/d995be3ef8ea226b57c3e86da50f9dab-original.png"},{"thumb":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/cc897ffa4c3209ae85008f5dcfd5c7f7-thumb.jpg","original":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/cc897ffa4c3209ae85008f5dcfd5c7f7-original.jpg"},{"thumb":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/e2477b0b7bdfb12416741be68b12d4d9-thumb.jpg","original":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/e2477b0b7bdfb12416741be68b12d4d9-original.jpg"},{"thumb":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/af01513ca735f94fe436623b55f0948a-thumb.jpg","original":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/af01513ca735f94fe436623b55f0948a-original.jpg"},{"thumb":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/2a303adde511f0d3dadc80bc7ee089b7-thumb.jpg","original":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/2a303adde511f0d3dadc80bc7ee089b7-original.jpg"}]}'
  recorded_at: Sat, 21 Apr 2012 22:17:00 GMT
- request:
    method: get
    uri: https://api.angel.co/1/startups/1124?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '962'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"6a15f61f48032d7a6bd4a789e[...]
- request:
    method: get
    uri: https://api.angel.co/1/startups/1124
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '977'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"caddda9f0844f06a46bf42629e08e7f4"'
  [...]
- request:
    method: get
    uri: https://api.angel.co/1/startups/search?slug=500-startups-fund
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '976'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"caddda9f0844[...]
- request:
    method: get
    uri: https://api.angel.co/1/startups/search?domain=500.co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '975'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"caddda9f0844f06a46bf4[...]
- request:
    method: get
    uri: https://api.angel.co/1/startups/batch?ids=1124%2C31627
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '993'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"15f7ed57ea99af33c97[...]
- request:
    method: get
    uri: https://api.angel.co/1/startups/1124/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '998'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"a83cde0a6c6ffbce894d5905dea33248"'
    body:
      encoding: ASCII-8BIT
      string: ! '[{"id":17725,"comment":"Often the greatest help entrepreneurs can
        get is the confidence, support and appreciation that what they strive for
        matters and can be achieved. At 500 you will never feel alone and your resolve
        will be fortified with equal amounts education, connections, and most importantly
        love for what you do. ","created_at":"2012-04-06T15:15:30Z","user":{"name":"Marcus
        Ogawa","id":1329,"bio":"Managing Partner of early stage VC firm Quest Venture
        Partners. Board member and major investor at Qik (sold to Skype), investor
        in Tapulous (sold to Disney). ","follower_count":934,"angellist_url":"http://angel.co/marcusogawa","image":"https://s3.amazonaws.com/photos.angel.co/users/1329-medium?1294803892"}},{"id":17728,"comment":"I''m
        a (small) investor in Fund I, a mentor to their 500 startups, but most importantly,
        I consider myself a friend to Dave, the team, and their vision. My favorite
        comment is hearing from those who say - these guys don''t know what they are
        doing. They are just spray and pray. Team 500 funds businesses. They have
        a keen eye for what everyone wants - businesses[...]
- request:
    method: get
    uri: https://api.angel.co/1/startups/1124/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"65f79593409c2134cbaa6f621046f6a8"'
      status:
      - 200 OK
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '1000'
    body:
      encoding: ASCII-8BIT
      string: ! '{"startup_roles":[{"id":564810,"role":"past_investor","created_at":"2013-03-15T11:58:07Z","started_at":null,"ended_at":null,"confirmed":true,"tagged":{"type":"User","name":"Saurabh
        Goel","id":163211,"bio":"Founder startt \u2022 Investor @500-startups-fund-ii","follower_count":4,"angellist_url":"https://angel.co/saurgoel","image":"https://s3.amazonaws.com/photos.angel.co/users/163211-medium_jpg?1359116657"},"startup":{"id":1124,"hidden":false,"community_profile":false,"name":"500
        Startups (Fund II)","angellist_url":"https://angel.co/500-startups-fund-ii","logo_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/1124-9f04812061e2dcd37e24eeb20cf47e5c-medium_jpg.jpg?buster=1333564428","thumb_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/1124-9f04812061e2dcd37e24eeb20cf47e5c-thumb_jpg.jpg?buster=1333564428","quality":7,"product_desc":"500
        Startups is a Silicon Valley venture capital seed fund & startup accelerator.
        We invest in internet startups on search, social, & mobile platforms. We run
        an incubation and accelerator program emphasizing design & user experience,
        distribution & customer acquisition, and lean startup practices & metrics.
        Our investment team and mentor network has operational experience at companies
        including PayPal, Google, YouTube, Yahoo, AOL, Zynga, LinkedIn, Twitter, Apple
        & Facebook.","high_concept":"Silicon Valley seed fund & internet accelerator
        founded by PayPal, Google, YouTube alums.","follower_count":6304,"company_url":"http://500.co","created_at":"2010-11-16T01:50:25Z","updated_at":"2012-12-30T19:44:51Z"}},{"id":562745,"role":"employee","created_at":"2013-03-14T05:18:53Z","started_at":"2013-03-01","ended_at":null,"confirmed":true,"tagged":{"type":"User","name":"Matthew
        Berman","id":57540,"bio":"Distribution Hacker @500startups, Entrepreneur,
        User Acquisition Expert, Rails Hacker, Technology Enthusiast. Previously co-founder
        at @teamly Inc.","follower_count":66,"angellist_url":"https://angel.co/matthew-berman-1","image":"https://s3.amazonaws.com/phot[...]
