---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/startups/1124?format=json&phoenix=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '995'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"8d41937b2c23a6cbb4682080173a0f83"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":1124,"hidden":false,"community_profile":false,"name":"500 Startups
        (Fund)","angellist_url":"http://angel.co/500-startups-fund","logo_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/1124-9f04812061e2dcd37e24eeb20cf47e5c-medium.png","thumb_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/1124-9f04812061e2dcd37e24eeb20cf47e5c-thumb.png","product_desc":"500
        Startups is a Silicon Valley venture capital seed fund & startup accelerator.
        We invest in internet startups on search, social, & mobile platforms. We run
        an incubation and accelerator program emphasizing design & user experience,
        distribution & customer acquisition, and lean startup practices & metrics.
        Our investment team and mentor network has operational experience at companies
        including PayPal, Google, YouTube, Yahoo, AOL, Zynga, LinkedIn, Twitter, Apple
        & Facebook.","high_concept":"Silicon Valley micro-VC fund & accelerator founded
        by ex-PayPal, Google, YouTube alums.","follower_count":3254,"company_url":"http://500.co","twitter_url":"https://twitter.com/#!/500","blog_url":"http://500.co/blog/","video_url":"http://youtube.com/watch?v=oy--ub2jMHs","markets":[{"id":856,"tag_type":"MarketTag","name":"venture
        capital","display_name":"Venture Capital","angellist_url":"http://angel.co/venture-capital"}],"locations":[{"id":1701,"tag_type":"LocationTag","name":"mountain
        view","display_name":"Mountain View","angellist_url":"http://angel.co/mountain-view-1"}],"status":{"id":53746,"message":".@500
        Startups by the #''s (infographic): companies, exits, countries, team, process,
        languages, mentors, events, etc: http://bit.ly/500info","created_at":"2012-04-12T23:57:59Z"},"screenshots":[{"thumb":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/d1cfdd5a9783eb1d115884678f1c4982-thumb.jpg","original":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/d1cfdd5a9783eb1d115884678f1c4982-original.jpg"},{"thumb":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/d995be3ef8ea226b57c3e86da50f9dab-thumb.png","original":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/d995be3ef8ea226b57c3e86da50f9dab-original.png"},{"thumb":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/cc897ffa4c3209ae85008f5dcfd5c7f7-thumb.jpg","original":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/cc897ffa4c3209ae85008f5dcfd5c7f7-original.jpg"},{"thumb":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/e2477b0b7bdfb12416741be68b12d4d9-thumb.jpg","original":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/e2477b0b7bdfb12416741be68b12d4d9-original.jpg"},{"thumb":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/af01513ca735f94fe436623b55f0948a-thumb.jpg","original":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/af01513ca735f94fe436623b55f0948a-original.jpg"},{"thumb":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/2a303adde511f0d3dadc80bc7ee089b7-thumb.jpg","original":"https://s3.amazonaws.com/screenshots.angel.co/c7/1124/2a303adde511f0d3dadc80bc7ee089b7-original.jpg"}]}'
  recorded_at: Sat, 21 Apr 2012 22:17:00 GMT
- request:
    method: get
    uri: https://api.angel.co/1/startups/search?slug=500-startups-fund
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Phx:
      - 'true'
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '994'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"8d41937b2c23a6cbb4682080173a0f83"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":1124,"hidden":false,"community_profile":false,"name":"500 Startu[...]
- request:
    method: get
    uri: https://api.angel.co/1/startups/search?domain=500.co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Phx:
      - 'true'
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '993'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
     [...]
