---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/startups/1124
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"28594eb14ad7b86adb8304a2cb3895a7"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1975'
    body:
      encoding: UTF-8
      string: '{"id":1124,"hidden":false,"community_profile":false,"name":"500 Startups","angellist_url":"https://angel.co/500startups","logo_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/1124-9f04812061e2dcd37e24eeb20cf47e5c-medium_jpg.jpg?buster=1428090396","thumb_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/1124-9f04812061e2dcd37e24eeb20cf47e5c-thumb_jpg.jpg?buster=1428090396","quality":9,"product_desc":"500
        Startups is a Silicon Valley venture capital seed fund & startup accelerator.
        We have invested in hundreds of internet startups in ~50 countries all over
        the world. We run an incubation and accelerator program emphasizing design
        & user experience, distribution & customer acquisition, and lean startup practices
        & metrics. Our investment team is comprised of 16 people who speak ~20 languages
        and operate in 12 different countries. Our team and mentors have had operational
        experience at companies such as: PayPal, Google, YouTube, Yahoo, Microsoft,
        eBay, LinkedIn, Twitter, Apple & Facebook.","high_concept":"500 Startups is
        a Silicon Valley seed fund & accelerator founded by PayPal & Google alums.","follower_count":24860,"company_url":"http://500.co","created_at":"2010-11-16T01:50:25Z","updated_at":"2015-04-03T19:46:41Z","crunchbase_url":"http://www.crunchbase.com/organization/500-startups","twitter_url":"https://twitter.com/#!/500startups","blog_url":"http://500.co/blog/","facebook_url":"http://www.facebook.com/500startups","linkedin_url":"","video_url":"","markets":[{"id":448,"tag_type":"MarketTag","name":"startups","display_name":"Startups","angellist_url":"https://angel.co/startups-1"},{"id":856,"tag_type":"MarketTag","name":"venture
        capital","display_name":"Venture Capital","angellist_url":"https://angel.co/venture-capital"}],"locations":[{"id":1701,"tag_type":"LocationTag","name":"mountain
        view","display_name":"Mountain View","angellist_url":"https://angel.co/mountain-view-1"},{"id":1681,"tag_type":"LocationTag","name":"silicon
        valley","display_name":"Silicon Valley","angellist_url":"https://angel.co/silicon-valley"},{"id":1664,"tag_type":"LocationTag","name":"new
        york, ny","display_name":"New York City","angellist_url":"https://angel.co/new-york-ny-1"},{"id":1656,"tag_type":"LocationTag","name":"mexico","display_name":"Mexico","angellist_url":"https://angel.co/mexico"},{"id":1647,"tag_type":"LocationTag","name":"india","display_name":"India","angellist_url":"https://angel.co/india"},{"id":1622,"tag_type":"LocationTag","name":"brazil","display_name":"Brazil","angellist_url":"https://angel.co/brazil"}],"company_size":"51-200","company_type":[{"id":92334,"tag_type":"CompanyTypeTag","name":"incubator","display_name":"Incubator","angellist_url":"https://angel.co/incubators"},{"id":92338,"tag_type":"CompanyTypeTag","name":"vc","display_name":"VC
        Firm","angellist_url":"https://angel.co/vc-3"}],"status":{"id":166100,"message":"Hollywood
        Comes Back To Silicon Valley With A New SyFy Reality TV Show http://techcrunch.com/2014/11/25/bazillion-dollar-club/","created_at":"2014-12-12T00:25:43Z"},"screenshots":[{"thumb":"https://d2gn4xht817m0g.cloudfront.net/p/product_screenshots/images/thumb/000/405/697/405697-6094ebb5632f0775372883d445aa6b1e0c4afd0f.jpg?1411722399","original":"https://d2gn4xht817m0g.cloudfront.net/p/product_screenshots/images/original/000/405/697/405697-a28df861efe135b14d731b24c50b664271e226cf.jpg?1411722399"},{"thumb":"https://d2gn4xht817m0g.cloudfront.net/p/product_screenshots/images/thumb/000/405/698/405698-742dc3f414e3f0e884d63d40d1e8462d03cbb298.jpg?1411722464","original":"https://d2gn4xht817m0g.cloudfront.net/p/product_screenshots/images/original/000/405/698/405698-2e6dd97022e4d811287c3f8d5d7a4880af7c8f74.jpg?1411722464"},{"thumb":"https://d2gn[...]
- request:
    method: get
    uri: https://api.angel.co/1/startups/1124/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"59c7679cfaf88656679c69e8bccea2b5"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1974'
    body:
      encoding: UTF-8
      string: '[{"id":55819,"comment":"There''s simply no organization or angel in
        the world that is this supportive and active for startups.  I''m so thrilled
        to be part of their network.","created_at":"2011-06-26T22:04:46Z","user":{"name":"Jared
        Goralnick","id":2879,"bio":"Founder & CEO, @awayfind. Co-Founded Inbox Love.
        Mentor at 500 Startups & FI.  Sold previous co. Deep business, engineering,
        content & UX experience.","follower_count":1075,"angellist_url":"https://angel.co/jared-goralnick","image":"https://d1qb2nb5cznatu.cloudfront.net/users/2879-medium_jpg?1405435203"}},{"id":55820,"comment":"Dave
        really cares about startups as illustrated by the many 10pm Friday night calls
        I''ve had with him.  He''s got an unparalleled network and is an invaluable
        addition to any team.","created_at":"2011-07-26T01:11:12Z","user":{"name":"Josh
        Fraser","id":10002,"bio":"Co-founder & CTO at Forage.  Previously founded
        @torbit (acquired by Walmart) and @eventvue. Com[...]
- request:
    method: get
    uri: https://api.angel.co/1/startups/batch?ids=1124,31627
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e335c7bc6ea43607540a53569b672d82"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Re[...]
- request:
    method: get
    uri: https://api.angel.co/1/startups?filter=raising
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"40373ad8934156ee9dceb5be3488c01a"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1972'
    body:
      encoding: UTF-8
      string: '{"startups":[{"id":232097,"hidden":false,"community_profile":false,"name":"Moni.ai","angellist_url":"https://angel.co/moni-ai","logo_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/232097-75796bf43d6091f6685b9c3b741fd9c0-medium_jpg.jpg?buster=1419032148","thumb_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/232097-75796bf43d6091f6685b9c3b741fd9c0-thumb_jpg.jpg?buster=1419032148","launch_date":"2012-06-01","quality":4,"product_desc":"Moni.ai
        is an interactive virtual assistant which allows you to perform different
        actions with the Internet of Things by simply using your voice.\u00a0\n\nWith
        IoT, the problem is at the end-user level. Almost all connected devices have
        their own apps. To get anything done, people have to jump from app-to-app
        to control disparate devices, creating a disconnected, rather than a seamless
        or even enjoyable expe[...]
- request:
    method: get
    uri: https://api.angel.co/1/startups/search?slug=500-startups-fund
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"28594eb14ad7b86adb8304a2cb3895a7"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Rat[...]
- request:
    method: get
    uri: https://api.angel.co/1/startups/search?domain=500.co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"28594eb14ad7b86adb8304a2cb3895a7"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Re[...]
- request:
    method: get
    uri: https://api.angel.co/1/startups/1124/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3baacbbc600a5dcb4f7e96c54497fa37"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1998'
    body:
      encoding: UTF-8
      string: '{"startup_roles":[{"id":2436972,"role":"employee","created_at":"2015-04-16T16:45:02Z","started_at":null,"ended_at":null,"title":null,"confirmed":true,"tagged":{"type":"User","name":"Richard
        Speakman","id":421709,"bio":"Experienced Office / Facilities / IT / HR / Accounting
        Manager. Strong leader of on-site and remote teams.","follower_count":26,"angellist_url":"https://angel.co/richard-speakman-1","image":"https://angel.co/images/shared/nopic.png"},"startup":{"id":1124,"hidden":false,"community_profile":false,"name":"500
        Startups","angellist_url":"https://angel.co/500startups","logo_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/1124-9f04812061e2dcd37e24eeb20cf47e5c-medium_jpg.jpg?buster=1428090396","thumb_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/1124-9f04812061e2dcd37e24eeb20cf47e5c-thumb_jpg.jpg?buster=1428090396","quality":9,"product_desc":"500
        Startups is a Silicon Valley venture capital seed fund & startup [...]
