---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/startup_roles?startup_id=1124
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Phx:
      - 'true'
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '999'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"cf75cf4da243bc3f52fd86653f126217"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"startup_roles":[{"id":211810,"role":"advisor","created_at":"2012-04-19T13:22:08Z","started_at":null,"ended_at":null,"confirmed":true,"user":{"name":"Aaron
        Batalion","id":69186,"bio":"CTO & Co-founder, LivingSocial.  Husband, Father,
        Geek, Entrepreneur, Advisor.","follower_count":399,"angellist_url":"http://angel.co/aaronbatalion","image":"https://s3.amazonaws.com/photos.angel.co/users/69186-medium?1320063559"}},{"id":211676,"role":"advisor","created_at":"2012-04-19T05:47:10Z","started_at":null,"ended_at":null,"confirmed":true,"user":{"name":"Jessica
        Alter","id":61981,"bio":"Entrepreneur & Advisor","follower_count":68,"angellist_url":"http://angel.co/jalter","image":"https://s3.amazonaws.com/photos.angel.co/users/61981-medium?1334814757"}},{"id":206648,"role":"past_investor","created_at":"2012-04-12T05:11:06Z","started_at[...]
- request:
    method: get
    uri: https://api.angel.co/1/startup_roles?user_id=2850
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Phx:
      - 'true'
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '998'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"178234b66edc98a9d4f2b8edcdf84d4a"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"startup_roles":[{"id":209842,"role":"incubator","created_at":"2012-04-16T20:07:35Z","started_at":null,"ended_at":null,"confirmed":true,"startup":{"id":80314,"hidden":false,"community_profile":false,"name":"Bombfell","angellist_url":"http://angel.co/bombfell","logo_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/80314-6e8a59e9050370ccae85207c6fb3f3d5-medium.png","thumb_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/80314-6e8a59e9050370ccae85207c6fb3f3d5-thumb.png","product_desc":"Featured
        on Techcrunch, Match.com, Glamour, Financial Times and SheKnows.\n\nClothes
        shopping today is tuned to female buying habits - for browsing instead of
        seek-and-destroy efficient buying.\n\nBombfell is a monthly subscription for
        men''s clothing built to enable guys who lack time or don''t know what to
        buy to dress well. Members tell us their wardrobe needs and we send them a
        personalized selection every month.\n\nLaunched late 2011 and already ramen
        profitable.","high_concept":"Shoedazzle for men''s clothing","follower_count":74,"company_url":"http://www.bombfell.com/"}},{"id":205790,"role":"incubator","created_at":"2012-04-11T03:00:21Z","started_at":null,"ended_at":null,"confirmed":true,"startup":{"id":19563,"hidden":false,"community_profile":false,"name":"9GAG","angellist_url":"http://angel.co/9gag","logo_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/19563-3bb24ef47482a01ad8e319328f00ca82-medium.png","thumb_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/19563-3bb24ef47482a01ad8e319328f00ca82-thumb.png","produ[...]
