---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/status_updates?user_id=2850
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '974'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"67ba16a7fe85de9157fdc2f2ba11d424"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"status_updates":[{"id":31163,"message":"Fear is the Mind Killer.
        I will face my fear, let\u00a0it pass over & through me. Where fear has gone
        there will be nothing; only I will remain.","created_at":"2011-11-13T00:36:50Z"},{"id":22690,"message":"500
        Startups fall accelerator program begins October 10, with ~30 companies participating
        from all over the world.","created_at":"2011-10-05T07:31:14Z"},{"id":10904,"message":"watch
        500 Startups Demo Days: August 16-17, Mountain View, CA (info & livestream:
        http://plancast.com/p/6q4q)","created_at":"2011-08-06T00:55:58Z"},{"id":6136,"message":"There
        is no Try. Only DO.","created_at":"2011-07-10T00:31:07Z"}],"total":4,"per_page":50,"page":1,"last_page":1}'
  recorded_at: Sun, 22 Apr 2012 00:35:16 GMT
- request:
    method: get
    uri: https://api.angel.co/1/status_updates?startup_id=1124
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '973'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"901fd76984d3a6c46216[...]
