---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/status_updates?user_id=155
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7a57e911c18d50fb64adca428d5c7ccb"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1997'
    body:
      encoding: UTF-8
      string: '{"status_updates":[{"id":39023,"message":" ","created_at":"2012-01-05T20:32:20Z"},{"id":35860,"message":"I''m
        going to MC the NodeJam event at NodeSummit - free for startups. Apply here:
        http://nodesummit.com/nodejam/","created_at":"2011-12-12T21:19:40Z"},{"id":30803,"message":"Looking
        for whoever is going to build a franchise across SF gourmet coffee (Blue Bottle,
        4 Barrel, etc) and take out Starbucks.","created_at":"2011-11-11T04:51:02Z"},{"id":11418,"message":"Must
        read - http://tydanco.com/2011/08/08/the-big-four-benefits-of-angellist-for-investors/","created_at":"2011-08-09T06:30:12Z"},{"id":6724,"message":"AngelList
        = Google++ / http://livepaola.wordpress.com/2011/07/14/the-secret-sauce-in-the-google-design-angellist/","created_at":"2011-07-14T05:00:30Z"},{"id":5786,"message":"Burning
        down the AngelList queue...","created_at":"2011-07-06T20:50:09Z"},{"id":3619,"message":"At
        Hackers & Founders Scotch-Tasting / Not-a-Demo-Day on Thu. Email  ilikescotch@hackersandfounders.com
        with your AL profile for details","created_at":"2011-06-15T07:20:46Z"},{"id":3593,"message":"Looking
        for community manager for AngelList. Venture / entrepreneurial experience
        preferred. Brilliance mandatory. You will learn everything","created_at":"2011-06-14T22:42:49Z"}],"total":8,"per_page":50,"page":1,"last_page":1}'
  recorded_at: Sun, 26 Apr 2015 12:02:45 GMT
- request:
    method: get
    uri: https://api.angel.co/1/status_updates?startup_id=1124
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"142cc4d17630d05d052532fc66d633e9"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-R[...]
