---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/tags/856
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c4df94992d5808dd13ee5e3a0b222cb8"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1996'
    body:
      encoding: UTF-8
      string: '{"id":856,"tag_type":"MarketTag","name":"venture capital","display_name":"Venture
        Capital","angellist_url":"https://angel.co/venture-capital","statistics":{"all":{"investor_followers":2155,"followers":6639,"startups":967},"direct":{"investor_followers":494,"followers":1668,"startups":746}}}'
  recorded_at: Sun, 26 Apr 2015 10:35:01 GMT
- request:
    method: get
    uri: https://api.angel.co/1/tags/856/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"36d77bd0e59f783d50ca1ba3652f966b"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1995'
    body:
      encoding: UTF-8
      string: '{"children":[{"id":15805,"tag_type":"MarketTag","name":"angel investing","display_name":"Angels","angellist_url":"https://angel.co/angel-investing","statistics":{"all":{"investor_followers":2229,"followers":6951,"startups":323},"direct":{"investor_followers":157,"followers":654,"startups":323}}}],"total":1,"per_page":50,"page":1,"last_page":1}'
  recorded_at: Sun, 26 Apr 2015 10:35:02 GMT
- request:
    method: get
    uri: https://api.angel.co/1/tags/856/parents
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0ef22f5ac4c0f3269c0a80e9c5e2e77e"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1994'
    body:
      encoding: UTF-8
      string: '{"parents":[{"id":126241,"tag_type":"MarketTag","name":"vice","display_name":"Vice","angellist_url":"https://angel.co/vice-1","statistics":{"all":{"investor_followers":865,"followers":2801,"startups":2033},"direct":{"investor_followers":1,"followers":9,"startups":3}}},{"id":126239,"tag_type":"MarketTag","name":"organized
        crime","display_name":"Organized Crime","angellist_url":"https://angel.co/organized-crime","statistics":{"all":{"investor_followers":865,"followers":2799,"startups":972},"direct":{"investor_followers":1,"followers":6,"startups":6}}},{"id":321,"tag_type":"MarketTag","name":"finance","display_name":"Finance","angellist_url":"https://angel.co/finance","statistics":{"all":{"investor_followers":1709,"followers":5132,"startups":7348},"direct":{"investor_followers":893,"followers":2561,"startups":1633}}}],"total":3,"per_page":50,"page":1,"last_page":1}'
  recorded_at: Sun, 26 Apr 2015 10:35:03 GMT
- request:
    method: get
    uri: https://api.angel.co/1/tags/856/startups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"50e741d871b67d5a225f0edc33372ce1"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1993'
    body:
      encoding: UTF-8
      string: '{"startups":[{"id":680525,"hidden":false,"community_profile":false,"name":"Cassiux","angellist_url":"https://angel.co/cassiux","logo_url":"https://angel.co/images/shared/nopic_startup.png","thumb_url":"https://angel.co/images/shared/nopic_startup.png","quality":0,"product_desc":"The
        company''s mission is to support the idealization and boost the realization
        of startups and SMEs to overcome the initial challenges and solidify an innovative,
        sustainable and scalable business and management model. It intends to be an
        important agent of value creation and prosperity to our clients and partners,
        without losing the human, socio-environmental and entrepreneur ideals.","high_concept":"","follower_count":1,"company_url":"","created_at":"2015-04-26T00:13:33Z","updated_at":"2015-04-26T01:29:15Z","crunchbase_url":null,"twitter_url":"","blog_url":"http://realizacaoempreendedora.com.br","facebook_url":"","linkedin_url":"","video_url":null,"markets":[{"id":448,"tag_type":"MarketTag","name":"startups","display_name":"Startups","angellist_url":"https://angel.co/startups-1"},{"id":1113,"tag_type":"MarketTag","name":"business
        development","display_name":"Business Development","angellist_url":"https://angel.co/business-development"},{"id":1474,"tag_type":"MarketTag","name":"entrepreneur","display_name":"Entrepreneur","angellist_url":"https://angel.co/entrepreneur-3"},{"id":15805,"tag_type":"MarketTag","name":"angel
        investing","display_name":"Angels","angellist_url":"https://angel.co/angel-investing"}],"locations":[{"id":8732,"tag_type":"LocationTag","name":"sao
        paulo","display_name":"Sao Paulo","angellist_url":"https://angel.co/sao-paulo"}],"company_size":"","company_type":[{"id":132149,"tag_type":"CompanyTypeTag","name":"private
        company","display_name":"Private Company","angellist_url":"https://angel.co/private-company-1"}],"status":null,"screenshots":[],"abilities":{"intro":{"can":false,"has":false}}},{"id":679808,"hidden":false,"community_profile":false,"name":"Cape
        & Cowl","angellist_url":"https://angel.co/mdnw","logo_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/679808-07de57197b7871bd3d2c9f804dcaaa46-medium_jpg.jpg?buster=1429908266","thumb_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/679808-07de57197b7871bd3d2c9f804dcaaa46-thumb_jpg.jpg?buster=1429908266","quality":1,"product_desc":"From
        investors to new users, you''ll never close the deals you[...]
