---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/tags/856?format=json&phoenix=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '982'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"cafb875be4d8daf1d341da8df5bb0d1d"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":856,"tag_type":"MarketTag","name":"venture capital","display_name":"Venture
        Capital","angellist_url":"http://angel.co/venture-capital","statistics":{"all":{"investor_followers":10,"followers":310,"startups":66},"direct":{"investor_followers":7,"followers":304,"startups":65}}}'
  recorded_at: Sat, 21 Apr 2012 22:51:45 GMT
- request:
    method: get
    uri: https://api.angel.co/1/tags/856/children?format=json&phoenix=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '981'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"a670d72917f5f099a9f75766d4d0e36a"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"children":[{"id":879,"tag_type":"MarketTag","name":"venture hacks","display_name":"Venture
        Hacks","angellist_url":"http://angel.co/venture-hacks-2","statistics":{"all":{"investor_followers":10,"followers":311,"startups":1},"direct":{"investor_followers":0,"followers":5,"startups":1}}}],"total":1,"per_page":50,"page":1,"last_page":1}'
  recorded_at: Sat, 21 Apr 2012 22:51:47 GMT
- request:
    method: get
    uri: https://api.angel.co/1/tags/856/parents?format=json&phoenix=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '980'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"235c5c28306482d1091ac99809236fbc"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"parents":[{"id":854,"tag_type":"MarketTag","name":"organized crime","display_name":"Organized
        Crime","angellist_url":"http://angel.co/organized-crime","statistics":{"all":{"investor_followers":3,"followers":6,"startups":67},"direct":{"investor_followers":1,"followers":2,"startups":1}}}],"total":1,"per_page":50,"page":1,"last_page":1}'
  recorded_at: Sat, 21 Apr 2012 22:51:48 GMT
- request:
    method: get
    uri: https://api.angel.co/1/tags/856?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '957'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"cafb875be4d8daf1d341da8df5bb0d1d"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":856,"tag_type":"MarketTag","name":"venture capital","display_name":"Venture
        Capital","angellist_url":"http://angel.co/venture-capital","statistics":{"all":{"investor_followers":10,"followers":310,"startups":66},"direct":{"investor_followers":7,"followers":304,"startups":65}}}'
  recorded_at: Sat, 21 Apr 2012 23:16:34 GMT
- request:
    method: get
    uri: https://api.angel.co/1/tags/856/children?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '956'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"a670d72917f5f099a9f75766d4d0e36a"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"children":[{"id":879,"tag_type":"MarketTag","name":"venture hacks","display_name":"Venture
        Hacks","angellist_url":"http://angel.co/venture-hacks-2","statistics":{"all":{"investor_followers":10,"followers":311,"startups":1},"direct":{"investor_followers":0,"followers":5,"startups":1}}}],"total":1,"per_page":50,"page":1,"last_page":1}'
  recorded_at: Sat, 21 Apr 2012 23:16:37 GMT
- request:
    method: get
    uri: https://api.angel.co/1/tags/856/parents?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '955'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"235c5c28306482d1091ac99809236fbc"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"parents":[{"id":854,"tag_type":"MarketTag","name":"organized crime","display_name":"Organized
        Crime","angellist_url":"http://angel.co/organized-crime","statistics":{"all":{"investor_followers":3,"followers":6,"startups":67},"direct":{"investor_followers":1,"followers":2,"startups":1}}}],"total":1,"per_page":50,"page":1,"last_page":1}'
  recorded_at: Sat, 21 Apr 2012 23:16:38 GMT
- request:
    method: get
    uri: https://api.angel.co/1/tags/856/startups
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '954'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"cb2d9fee9015e1fc0f8b498f986d367a"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"startups":[{"id":83386,"hidden":false,"community_profile":false,"name":"eZecute","angellist_url":"http://angel.co/ezecute-1","logo_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/83386-198e3420f083741ff1567380485e9d0e-medium.jpg","thumb_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/83386-198e3420f083741ff1567380485e9d0e-thumb.jpg","product_desc":"The
        Roman hub to an international community of entrepreneurs,  investors, incubators,
        professionals, developers and academics.\n\nSupporting startups, from very
        early stage to full expansion, operating in the IT and media industry.\n\nLinked
        to fast growing startups and Internet global players.\n","high_concept":"The
        Startup Enabler","follower_count":1,"company_url":"http://www.ezecute.com","twitter_url":null,"blog_url":null,"video_url":null,"markets":[{"id":448,"tag_type":"MarketTag","name":"startups","display_name":"Startups","angellist_url":"http://angel.co/startups-1"},{"id":856,"tag_type":"MarketTag","name":"venture
        capital","display_name":"Venture Capital","angellist_url":"http://angel.co/venture-capital"},{"id":1973,"tag_type":"MarketTag","name":"pre
        seed","display_name":"Pre Seed","angellist_url":"http://angel.co/pre-seed"},{"id":11722,"tag_type":"MarketTag","name":"incubators","display_name":"Incubators","angellist_url":"http://angel.co/incubators-1"}],"locations":[{"id":2137,"tag_type":"LocationTag","name":"rome","display_name":"Rome","angellist_url":"http://angel.co/rome"}],"status":null,"screenshots":[]},{"id":82661,"hidden":false,"community_profile":false,"name":"miAuhost","angellist_url":"http://angel.co/miauhost","logo_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/82661-a2b8c20b4dd20002d4b9a9cf26c2394f-medium.gif","thumb_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/82661-a2b8c20b4dd20002d4b9a9cf26c2394f-thumb.gif","product_desc":"Web
        Development, Web Solution, Social Media, Digital Campaign","high_concept":"Web
        Full Service from Web Development to Social Media","follower_count":2,"company_url":"http://miauhost.com","twitter_url":"http://twitter.com/actworks","blog_url":"http://miauhost.com","video_url":"","markets":[{"id":29,"tag_type":"MarketTag","name":"e-commerce","display_name":"E-Commerce","angellist_url":"http://angel.co/e-commerce"},{"id":448,"tag_type":"MarketTag","name":"startups","display_name":"Startups","angellist_url":"http://angel.co/startups-1"},{"id":841,"tag_type":"MarketTag","name":"software","display_name":"Software","angellist_url":"http://angel.co/software"},{"id":856,"tag_type":"MarketTag","name":"venture
        capital","display_name":"Venture Capital","angellist_url":"http://angel.co/venture-capital"}],"locations":[],"status":{"id":53776,"message":"Right
        hosting for your company!","created_at":"2012-04-13T03:51:35Z"},"screenshots":[{"thumb":"https://s3.amazonaws.com/screenshots.angel.co/cf/82661/cd106cd3a86786791b7094e2dbfbf7ef-thumb.gif","original":"https://s3.amazonaws.com/screenshots.angel.co/cf/82661/cd106cd3a86786791b7094e2dbfbf7ef-original.gif"}]},{"id":82659,"hidden":false,"community_profile":false,"name":"Act!","angellist_url":"http://angel.co/act","logo_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/82659-8d062155c3b5f505570eb5dde694bf3f-medium.jpg","thumb_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/82659-8d062155c3b5f505570eb5dde694bf3f-thumb.jpg","product_desc":"Digital
        Agency with passion! we pro[...]
