---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/users/2850?format=json&phoenix=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '987'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"0c13384ccaf0ae7c9e1ff289e0070619"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"500 Startups","id":2850,"bio":"Internet seed fund & startup
        accelerator in Silicon Valley. Partners worked at PayPal, Google, AOL, Rackspace,
        YouTube, Mint, Facebook fbFund, Founders Fund.","follower_count":5560,"angellist_url":"http://angel.co/500startups","image":"https://s3.amazonaws.com/photos.angel.co/users/2850-medium?1294804197","blog_url":"http://500.co/blog","online_bio_url":"http://500.co","twitter_url":"http://twitter.com/#!/500","facebook_url":"http://facebook.com/500startups","linkedin_url":"http://www.linkedin.com/company/500-startups","locations":[{"id":1701,"tag_type":"LocationTag","name":"mountain
        view","display_name":"Mountain View","angellist_url":"http://angel.co/mountain-view-1"},{"id":8732,"tag_type":"LocationTag","name":"sao
        paulo","display_name":"Sao Paulo","angellist_url":"http://angel.co/sao-paulo"}],"roles":[{"id":9305,"tag_type":"RoleTag","name":"seed
        funds","display_name":"Seed Fund","angellist_url":"http://angel.co/seed-funds"},{"id":9306,"tag_type":"RoleTag","name":"vc","display_name":"VC","angellist_url":"http://angel.co/vc"}]}'
  recorded_at: Sat, 21 Apr 2012 22:29:44 GMT
- request:
    method: get
    uri: https://api.angel.co/1/users/search?slug=500startups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Phx:
      - 'true'
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '986'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"0c13384ccaf0ae7c9e1ff289e0070619"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"500 Startups","id":2850,"bio":"Internet seed fund & startup
 [...]
