---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/users/155
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e9e15697dc90004a6a522389a6f653e1"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1990'
    body:
      encoding: UTF-8
      string: '{"name":"Naval Ravikant","id":155,"bio":"Sweat: @angellist , @venture-hacks
        @vast @epinions ;  Money: @twitter @heyzap @uber ","follower_count":39528,"angellist_url":"https://angel.co/naval","image":"https://d1qb2nb5cznatu.cloudfront.net/users/155-medium_jpg?1405433037","blog_url":"http://startupboy.com/","online_bio_url":"http://startupboy.com/about/","twitter_url":"http://twitter.com/naval","facebook_url":"http://www.facebook.com/navalr","linkedin_url":"http://www.linkedin.com/in/navalr","aboutme_url":"","github_url":"","dribbble_url":"","behance_url":"","resume_url":null,"what_ive_built":"","what_i_do":"","criteria":null,"locations":[{"id":1692,"tag_type":"LocationTag","name":"san
        francisco","display_name":"San Francisco","angellist_url":"https://angel.co/san-francisco"}],"roles":[{"id":9305,"tag_type":"RoleTag","name":"seed
        funds","display_name":"Seed Fund","angellist_url":"https://angel.co/seed-funds"},{"id":14725,"tag_type":"RoleTag","name":"entrepreneur","display_name":"Entrepreneur","angellist_url":"https://angel.co/entrepreneur-1"},{"id":9299,"tag_type":"RoleTag","name":"advisors","display_name":"Advisor","angellist_url":"https://angel.co/advisors"},{"id":14726,"tag_type":"RoleTag","name":"developer","display_name":"Developer","angellist_url":"https://angel.co/developer"}],"skills":[{"id":23388,"tag_type":"SkillTag","name":"c","display_name":"C","angellist_url":"https://angel.co/c-2","level":null},{"id":15592,"tag_type":"SkillTag","name":"html","display_name":"HTML","angellist_url":"https://angel.co/html","level":null},{"id":14775,"tag_type":"SkillTag","name":"python","display_name":"Python","angellist_url":"https://angel.co/python","level":null},{"id":14781,"tag_type":"SkillTag","name":"javascript","display_name":"Javascript","angellist_url":"https://angel.co/javascript","level":null}],"investor":true}'
  recorded_at: Sun, 26 Apr 2015 12:06:08 GMT
- request:
    method: get
    uri: https://api.angel.co/1/users/batch?ids=15821,100303
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9cea181aa2d2b3fe3cf0bb66215a7428"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Rem[...]
- request:
    method: get
    uri: https://api.angel.co/1/users/search?slug=naval
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e9e15697dc90004a6a522389a6f653e1"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remainin[...]
- request:
    method: get
    uri: https://api.angel.co/1/users/155/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a91e5d072c3faa5e90e751671cc39035
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ace71b9cf9cb4031f79797c8b84c7167"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1987'
    body:
      encoding: UTF-8
      string: '{"startup_roles":[{"id":2277872,"role":"past_investor","created_at":"2015-03-10T16:38:20Z","started_at":null,"ended_at":null,"title":null,"confirmed":true,"tagged":{"type":"User","name":"Naval
        Ravikant","id":155,"bio":"Sweat: @angellist , @venture-hacks @vast @epinions
        ;  Money: @twitter @heyzap @uber ","follower_count":39528,"angellist_url":"https://angel.co/naval","image":"https://d1qb2nb5cznatu.cloudfront.net/users/155-medium_jpg?1405433037"},"startup":{"id":457068,"hidden":false,"community_profile":false,"name":"21","angellist_url":"https://angel.co/21","logo_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/457068-2e7b8c417c3a70aab3026f5f0ca3d8e9-medium_jpg.jpg?buster=1425975133","thumb_url":"https://d1qb2nb5cznatu.cloudfront.net/startups/i/457068-2e7b8c417c3a70aab3026f5f0ca3d8e9-thumb_jpg.jpg?buster=1425975133","quality":10,"product_desc":"We''re
        building the hardware and software infrastructure to bring Bitcoin to the
        world. We can''t yet talk about what we do, but it''s full-stack.  Not full-stack
        as in \"JavaScript front-end, Python middle-tier, Mongo back-end\".  Full-stack.  Picture
        custom hardware & software at massive scale, and then double that.","high_concept":"Building
        the future of money","follower_count":127,"company_url":"http://21.co","created_at":"2014-08-08T17:54:42Z","updated_at":"2015-03-10T16:28:33Z"}},{"id":2167210,"role":"past_investor","created_at":"2015-02-12T17:51:22Z","started_at":null,"ended_at":null,"title":null,"confirmed":true,"tagged":{"type":"User","name":"Naval
        Ravikant","id":155,"bio":"Sweat: @angellist , @venture-hacks @vast @epinions
        ;  Money: @twitter @heyzap @uber ","follower_count":39528,"angellist_url":"https://angel.co/naval","image":"https://d1qb2nb5cznatu.cloudfront.net/users/155-medium_jpg?1405433037"},"startup":{"id":202932,"hid[...]
