---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/users/2850?format=json&phoenix=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '987'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"0c13384ccaf0ae7c9e1ff289e0070619"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"500 Startups","id":2850,"bio":"Internet seed fund & startup
        accelerator in Silicon Valley. Partners worked at PayPal, Google, AOL, Rackspace,
        YouTube, Mint, Facebook fbFund, Founders Fund.","follower_count":5560,"angellist_url":"http://angel.co/500startups","image":"https://s3.amazonaws.com/photos.angel.co/users/2850-medium?1294804197","blog_url":"http://500.co/blog","online_bio_url":"http://500.co","twitter_url":"http://twitter.com/#!/500","facebook_url":"http://facebook.com/500startups","linkedin_url":"http://www.linkedin.com/company/500-startups","locations":[{"id":1701,"tag_type":"LocationTag","name":"mountain
        view","display_name":"Mountain View","angellist_url":"http://angel.co/mountain-view-1"},{"id":8732,"tag_type":"LocationTag","name":"sao
        paulo","display_name":"Sao Paulo","angellist_url":"http://angel.co/sao-paulo"}],"roles":[{"id":9305,"tag_type":"RoleTag","name":"seed
        funds","display_name":"Seed Fund","angellist_url":"http://angel.co/seed-funds"},{"id":9306,"tag_type":"RoleTag","name":"vc","display_name":"VC","angellist_url":"http://angel.co/vc"}]}'
  recorded_at: Sat, 21 Apr 2012 22:29:44 GMT
- request:
    method: get
    uri: https://api.angel.co/1/users/2850?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '953'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"0c13384ccaf0ae7c9e1ff289e007[...]
- request:
    method: get
    uri: https://api.angel.co/1/users/2850
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '968'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"b5d91f38826f5fc779a09c530bea1f02"'
    b[...]
- request:
    method: get
    uri: https://api.angel.co/1/users/search?slug=500startups
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '967'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"b5d91f38826f5fc779a09[...]
- request:
    method: get
    uri: https://api.angel.co/1/users/batch?ids=15821%2C100303
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - '200'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '999'
      x-thanks:
      - For using AngelList. Rock on.
      etag:
      - ! '"c7acb0532fee68206b1e[...]
- request:
    method: get
    uri: https://api.angel.co/1/users/2850/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"cfe1d0120974be32c9a8f8871e9c3dc7"'
      status:
      - 200 OK
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: ! '{"startup_roles":[{"id":565659,"role":"past_investor","created_at":"2013-03-15T20:19:59Z","started_at":null,"ended_at":null,"confirmed":true,"tagged":{"type":"User","name":"500
        Startups","id":2850,"bio":"Silicon Valley seed fund & accelerator. 500 team
        has worked @paypal, @google, AOL, @rackspace, @yahoo, @youtube, @mint-com-1,
        @facebook fbFund, Founders Fund.","follower_count":9854,"angellist_url":"https://angel.co/500startups","image":"https://s3.amazonaws.com/photos.angel.co/users/2850-medium_jpg?1294804197"},"startup":{"id":132132,"hidden":false,"community_profile":false,"name":"YaSabe","angellist_url":"https://angel.co/yasabe","logo_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/132132-5680ce4205c04b5aa3db3a282de2685c-medium_jpg.jpg?buster=1363379078","thumb_url":"https://s3.amazonaws.com/photos.angel.co/startups/i/132132-5680ce4205c04b5aa3db3a282de2685c-thumb_jpg.jpg?buster=1363379078","quality":6,"product_desc":"YaSabe
        is the premier local search destination for businesses, coupons and jobs that
        caters to Hispanic consumers. We connect businesses, content publishers, and
        advertisers to the collective buying power of U.S. Hispanics.\n\nThrough syndicated
        bilingual content, revenue opportunities, and access to expanded Hispanic
        audiences, YaSabe helps its partners drive in-depth, lasting cultural and
        community engagement with one of the nation\u2019s fastest growing, most lucrative
        markets.","high_concept":"Local search destination catering to US Hispanic
        consumers.","follower_count":19,"company_url":"http://www.yasabe.com/en","created_at":"2012-10-25T14:13:37Z","updated_at":"2013-03-15T20:24:42Z"}},{"id":560156,"role":"incubator","created_at":"2013-03-12T20:53:53Z","started_at":null,"ended_at":null,"confirmed":true,"tagged":{"type":"User","name":"500
        Startups","id":2850,"bio":"Silicon Valley seed fund & accelerator. 500 team
        has worked @paypal, @google, AOL, @rackspace, @yahoo, @youtube, @mint-com-1,
        @facebook fbFund, Founders Fund.","follower_count":9854,"angellist_url":"https://angel.co/500startups","image":"https://s3.amazonaws.com/photos[...]
